<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
    h1 Salut #{prenom}
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis voluptas repudiandae ea perspiciatis labore tempore perferendis, voluptatum magni maxime quo pariatur dolore vero animi qui dicta eaque rem nulla veniam.

    ul 
        each val in [1, 2, 3, 4, 5]
            li= val